<%= render partial: "shared/appBar" %>
<div class="page-container">
  <h1>Novo Funcionário</h1>
  <%= render "form", employee: @employee %>
  <br>
  <div>
    <%= link_to "Funcionários", employees_path %>
  </div>
</div>
