<%= render partial: "shared/appBar" %>
<div class="page-container">
  <h1>New visitor</h1>
  <div>
    <%= link_to "Back to visitors", visitors_path %>
  </div>
  <%= render "form", visitor: @visitor %>
  <br>
</div>
