<%= render partial: "shared/appBar" %>
<div class="page-container">
  <h1>Nova Visita</h1>
  <%= render "form", visit: @visit %>
  <br>
  <div>
    <%= link_to "Visitas", visits_path %>
  </div>
</div>
