<div id="<%= dom_id sector %>">
  <p>
    <strong>Name:</strong>
    <%= sector.name %>
  </p>

  <p>
    <strong>Division:</strong>
    <%#= sector.division_id %>
     <%= "#{sector.division_id} - #{sector.division.name}" %>
  </p>

</div>
