<%= render partial: "shared/appBar" %>
<div class="page-container">
  <h1>Nova Unidade</h1>
  <%= render "form", division: @division %>
  <br>
  <div>
    <%= link_to "Unidades", divisions_path %>
  </div>
</div>
