<nav class="px-5 navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Visit Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-4 me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if user_signed_in? %>
            <div class="custom-title">Olá <%= current_user.name %></div>
          <% end %>
        </li>
        <% if can? :read, Visit %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/visits">Visitas</a>
        </li>
        <% end %>
        <% if can? :read, Visitor %>
        <li class="nav-item">
          <a class="nav-link" href="/visitors">Visitantes</a>
        </li>
        <% end %>
        <% if can? :read, Sector %>
        <li class="nav-item">
          <a class="nav-link" href="/sectors">Setores</a>
        </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if can? :read, [Employee, Division] %>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </a>
          <ul class="dropdown-menu ">
            <% if can? :read, Employee %>
            <li><a class="dropdown-item" href="/employees">Funcionários</a></li>
            <% end %>
            <% if can? :read, Division %>
            <li><a class="dropdown-item" href="/divisions">Unidades</a></li>
            <% end %>
            
            <li><hr class="dropdown-divider"></li>
            
            <li>
              <%#= link_to "Sair", destroy_user_session_path, :method => :delete  if user_signed_in? %>
            </li>
            <%# <li><a class="dropdown-item" href="#">Something else here</a></li> %>
          </ul>
        </li>
        <% end %>
        <%= form_for(current_user, url: destroy_user_session_path, method: :delete) do |f| %>
          <div class="d-flex justify-content-center">
            <%#= f.submit "Sair" ,class:"btn btn-link custom-link" %>
            <%# <i class="bi bi-box-arrow-in-left"></i> %>
            <%= f.submit "Sair", class: "btn btn-link custom-link" do %>
              <i class="bi bi-box-arrow-in-left icon-white"></i>
              Sair
            <% end %>
          </div>
        <% end %>
      </ul>
      <%# <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> %>
    </div>
  </div>
</nav>
