/* input[type="text"] { */
input {
    /* Estilos para todos os campos de texto aqui */
    border: 0px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    /* margin: 8px; */
    margin-top: 8px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
select {
    border: 0px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    /* margin: 8px; */
    margin-top: 8px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
}
input:focus{
    border: solid 1px #ccc;
}
input[type=text]{
    height: 45px;
}
input[type=password]{
    height: 45px;
}
input[type=email]{
    height: 45px;
}
input:focus{
    border: solid 1px #ccc;
}
.full-width{
    width: 100%;
}
.icon-white {
    color: white;
    font-weight: 600;
}
h2{
    margin-bottom: 40px;
}
.custom-title{
    height: 100%;
    color: white;
    font-weight: 600;
    font-size: 24;
    margin-right: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.span-title{
    color: red;
    font-size: 12px;
    font-weight: 600;
}
.custom-link {
    color: white;
    text-decoration: none;
    transition: all 300ms;
}

.custom-link:hover {
    color: rgb(170, 170, 170);
    /* background   : #ccc  ; */
}

.visitor-picture {
    height: 220px;
    width: 220px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 0px 10px 0px;
    /* box-shadow: 4px 4px 4px 10px; */
    box-shadow: 2px 2px 25px 5px rgba(0, 0, 0, 0.2);
}

.object-container {
    margin: 4px;
    padding: 5px;
}

.visitor-card {
    width: 300px;
    padding-top: 12px;
    margin: 12px;
    border-radius: 25px;
    box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
}

/* .visitor-card{
    margin: auto;
} */
.flex-d {
    display: flex;
}

.flex-d .flex-r {
    flex-direction: row;
}

.flex-d .flex-c {
    flex-direction: column;
}

.flex-d .items-center {
    align-items: center;
}

.flex-d .justify-center {
    justify-content: center;
}

.w-full {
    width: 100%;
}

.center-items {
    display: flex;
    align-items: center;
    justify-content: center;
}
.visitor-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.custom-title-1{
    font-size: 18px;
    font-weight: 600;
}
.action-group{
    padding: 5px;
}
.page-container{
    width: 80%;
    margin: auto;
}
.round-card{
    margin-top: 8px;
    border: 1px solid rgba(170, 170, 170, .3);
    border-radius: 10px;
    /* border-collapse: collapse; */
    /* overflow: hidden;             */
}

.login-card{
    width: 400px;
    min-height: 500px;
    border-radius: 5px;
    /* border: 1px solid rgb(150, 150, 150); */
    box-shadow: 2px 2px 30px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 20px 20px 20px;
}
.full-space{
    height: 100vh;
    width: 100%;
}
.flex-row{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}
.select-form{
    width: 300px;
}
.simple-shadow{
    box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.17);
}
.show-visitor{
    width:400px;
    margin: auto;
}